<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="page-title">my demos</h2>
    <% @demos.map do |demo| %>
      <article class="article">
        <ul class="article-content-ul">
          <li class="article-content-li"><%= link_to 'View', admin_demo_path(demo), class: 'link-page article-content-li-link' %></li>
          <li class="article-content-li"><%= link_to 'Edit', edit_admin_demo_path(demo), class: 'link-page article-content-li-link' %></li>
          <li class="article-content-li"><%= link_to 'Delete', admin_demo_path(demo), data: {confirm: 'Are you sure, Pat?'}, method: :delete, class: 'link-page article-content-li-link' %></li>
        </ul>
        <h3 class="article-title"><%= demo.title %></h3>
        <%= demo.pretty_text %>
      </article>
    <% end %>
  </div>
</div>
