<div class="footer-wrapper">
  <div class="footer-content">
    <ul class="contact-wrapper fade-in">
      <%= render 'layouts/footer/contact', {path: 'mailto:patrick.h.needham@gmail.com', icon: 'mail'} %>
      <%= render 'layouts/footer/contact', {path: 'https://www.facebook.com/patrick.h.needham', icon: 'facebook'} %>
      <%= render 'layouts/footer/contact', {path: 'https://instagram.com/patneedham_', icon: 'instagram'} %>
      <%= render 'layouts/footer/contact', {path: 'https://github.com/goodeats', icon: 'github-circled'} %>
      <%= render 'layouts/footer/contact', {path: 'https://www.linkedin.com/in/patrickneedham', icon: 'linkedin'} %>
      <%= render 'layouts/footer/contact', {path: 'https://twitter.com/patneedham_', icon: 'twitter'} %>
    </ul>
    <p class="footer-trademark">PN <%= Time.now.year %></p>
  </div>
</div>
