<!DOCTYPE html>
<html>
<head>
  <title>Pat Needham</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="page-wrapper">
    <%= render partial: 'layouts/header' %>
    <div class="page-content-wrapper">
      <div class="content-wrapper">
        <a name="about"></a>
        <div class="content">
          <h1>about</h1>
          <p>I am a web developer. I will try things here.</p>
          <p>I am happily working at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a> where I work mainly on front-end development.</p>
        </div>
      </div>
      <div class="content-wrapper">
        <a name="work"></a>
        <div class="content">
          <h1>work</h1>
          <p>Most of my work is done at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a>. Please feel free to check out some of the products there :)</p>
          <p>Some examples of personal projects can be found here:</p>
          <div class="main-projects">
            <div class="main-project">
              <div class="main-project-link-container">
                <a href="http://www.devourr.com" class="page-link main-project-title" target="_blank">Devourr</a>
              </div>
              <div class="main-project-description-container">
                <p class="main-project-description">The start of a social food picture sharing web app. This was my first example of making a stylish website with more complex javascript.</p>
              </div>
            </div>
            <div class="main-project">
              <div class="main-project-link-container">
                <a href="http://goodeats.github.io/twizzer_frontend/" class="page-link main-project-title" target="_blank">Twitter API</a>
              </div>
              <div class="main-project-description-container">
                <p class="main-project-description">Played around with Twitter's API to call tweets and pics by user handle.</p>
              </div>
            </div>
            <!-- <div class="main-project">
              <div class="main-project-link-container">
                <a href="#" class="page-link main-project-title" target="_blank">devourr</a>
              </div>
              <div class="main-project-description-container">
                <p class="main-project-description">this is a description 3</p>
              </div>
            </div> -->
          </div>
          <p>I will be looking to roll out a gallery of web tricks soon!</p>
        </div>
      </div>
      <div class="content-wrapper">
        <a name="blog"></a>
        <div class="content">
          <h1>blog</h1>
        </div>
      </div>
      <div class="content-wrapper">
      	<%= render partial: 'layouts/contact' %>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>
  </div>

<%= yield %>

</body>
</html>
