<!DOCTYPE html>
<html>
<head>
  <title>Pat Needham</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="page-wrapper">
    <%= render partial: 'layouts/header' %>
    <div class="page-content-wrapper">
      <div class="content-wrapper">
        <div class="content">
          <a name="about"></a>
          <h1>about</h1>
          <p>I am a web developer. I will try things here.</p>
          <p>I am happily working at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a> where I work mainly on front-end development.</p>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <a name="work"></a>
          <h1>work</h1>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <a name="blog"></a>
          <h1>blog</h1>
        </div>
      </div>
    	<%= render partial: 'layouts/contact' %>
    </div>
  </div>

<%= yield %>

</body>
</html>
