<!DOCTYPE html>
<html>
<head>
  <title>Pat Needham</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'pat_logo.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= Gon::Base.render_data %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="page-wrapper">
    <%= render 'layouts/header' %>
    <div class="page-content">
      <%= render 'layouts/breadcrumbs' %>
      <%= render 'layouts/flash' %>
      <div class="page-section">
        <div class="section-content section-content-left">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/scripts' %>
  <%= yield :javascript_includes %>
</body>
</html>
